.big-text {
	padding-left;
	color: #7d1f00;
	font-size: 35px;
	font-family: American Typewriter;
}

.paragraph {
	color: rebeccapurple;
	font-family: American Typewriter;
	font-size: 20px;
}

.para-paragraph {
	color: rebeccapurple;
	font-family: American Typewriter;
	font-size: 20px;
}

.small-text {
	padding-left; 
	font-family: American Typewriter;
	color: #005d7d;
	font-size: 35px;
}

.dog-pic {
	height: 500px;
	width: 500px;
}

.para-para-paragraph {
	font-size: 20px;
	font-family: American Typewriter;
	color: rebeccapurple;
}

.para-para-para-paragraph {
	font-size: 20px;
	font-family: American Typewriter;
	color: rebeccapurple;
}

.para-para-para-para-paragraph {
	font-size: 20px;
	font-family: American Typewriter;
	color: rebeccapurple;
}

.body {
	background-color: #e0ffff;
}
